<app-navigation></app-navigation>
<div class="content-wrapper ">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Templates</li>
      </ol>
      <h3 class="text-center">Choose A Template</h3>
      
      <div id="services" class="services">
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"> <img src="../../../assets/img/icon/home.png" alt="" srcset="" width="50px"> </div>
                <h4><a routerLink="rental">Home Rental</a></h4>
                <p>Sample house rental & agreement template specifing the following details: Contact details of both parties; property...</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"> <img src="../../../assets/img/icon/emp.png" alt="" width="50px"> </div>
                <h4><a href="">Employee Contract</a></h4>
                <p>Employment contract templates that state in clear and explicit terms the conditions of employment...</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><img src="../../../assets/img/icon/contuctor.png" alt="" width="50px"></div>
                <h4><a href="">Contractor</a></h4>
                <p>A Contractor Proposal Template is a proposal written offer formally used by businesses who wish to close a deal </p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><img src="../../../assets/img/icon/icon-digital-marketing.png" alt="" width="50px"></div>
                <h4><a href="">Marketing</a></h4>
                <p>We've created a customizable marketing agreement to help save you time while looking professional when signing on new clients</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img src="../../../assets/img/icon/freelance.png" alt="" width="50px"></div>
                <h4><a href="">Freelancer</a></h4>
                <p>Use our free, customizable Freelance Invoice Template to quickly create invoices for your freelance work. Issue invoices fast, get paid faster!</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><img src="../../../assets/img/icon/Gear.PNG" alt="" width="50px"></div>
                <h4><a href="">Services</a></h4>
                <p>You can use these templates to put your terms and agreement or service contract. These templates are user and printer friendly...</p>
              </div>
            </div>
    
          </div>
      </div>
    

    

      <app-footer></app-footer>
    </div>
  </div>
  <router-outlet></router-outlet>