
  
  body.sticky-footer {
    margin-bottom: 56px; }
    body.sticky-footer .content-wrapper {
      min-height: calc(100vh - 56px - 56px); }
  
  body.fixed-nav {
    padding-top: 56px; }
  
  .content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 1rem; }
  
  .scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 3px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px; }
    .scroll-to-top:focus, .scroll-to-top:hover {
      color: white; }
    .scroll-to-top:hover {
      background: #343a40; }
    .scroll-to-top i {
      font-weight: 800; }
  
  .smaller {
    font-size: 0.7rem; }
  
  .o-hidden {
    overflow: hidden !important; }
  
  .z-0 {
    z-index: 0; }
  
  .z-1 {
    z-index: 1; }
  
  #mainNav .navbar-collapse {
    overflow: hidden;
    max-height: 75vh; }
    #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
     
      cursor: pointer; }
    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
      float: right;
      content: '\f107';
      font-family: 'FontAwesome'; }
    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
      content: '\f105'; }
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
      padding-left: 0; }
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
        display: block;
        padding: 0.5em 0; }
        #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
          text-decoration: none; }
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
      padding-left: 1em; }
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
      padding-left: 2em; }
    #mainNav .navbar-collapse .sidenav-toggler {
      display: none; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
      position: relative;
      min-width: 45px; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
        float: right;
        width: auto;
        content: '\f105';
        border: none;
        font-family: 'FontAwesome'; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
        position: absolute;
        top: 5px;
        left: 21px;
        font-size: 10px; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
      content: '\f107'; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
      overflow: hidden;
      max-width: none;
      text-overflow: ellipsis; }
  
  @media (min-width: 992px) {
    #mainNav .navbar-brand {
      width: ; }
    #mainNav .navbar-collapse {
      overflow: hidden;
      max-height: none; }
      #mainNav .navbar-collapse .navbar-sidenav {
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 56px; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
          width: 250px;
          padding: 0; }
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
            padding: 1em; }
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
            padding-left: 0;
            list-style: none; }
            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
              width: 250px; }
              #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
              #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
                padding: 1em; }
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
            padding-left: 2.75em; }
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
            padding-left: 3.75em; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
        min-width: 0; }
        #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
          width: 24px;
          text-align: center; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
        max-width: 300px; } }
  
  #mainNav.fixed-top .sidenav-toggler {
    display: none; }
  
  @media (min-width: 992px) {
    #mainNav.fixed-top .navbar-sidenav {
      height: calc(100vh - 112px); }
    #mainNav.fixed-top .sidenav-toggler {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      overflow-x: hidden;
      overflow-y: hidden;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: calc(100vh - 56px); }
      #mainNav.fixed-top .sidenav-toggler > .nav-item {
        width: 250px;
        padding: 0; }
        #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
          padding: 1em; } }
  
  #mainNav.fixed-top .sidenav-toggler {
    background-color:  #221C69; }
    #mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
      color: #adb5bd; }
  
  #mainNav.fixed-top.navbar-light .sidenav-toggler {
    background-color: #dee2e6; }
    #mainNav.fixed-top.navbar-light .sidenav-toggler a i {
      color: rgba(0, 0, 0, 0.5); }
  
  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
    overflow-x: hidden;
    width: 55px; }
    body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
    body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
      width: 55px !important; }
  
  body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH'; }
  
  #mainNav.static-top .sidenav-toggler {
    display: none; }
  
  @media (min-width: 992px) {
    #mainNav.static-top .sidenav-toggler {
      display: flex; } }
  
  body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH'; }
  
  .content-wrapper {
    overflow-x: hidden;
    background: white; }
    @media (min-width: 992px) {
      .content-wrapper {
        margin-left: 250px; } }
  
  #sidenavToggler i {
    font-weight: 800; }
  
  .navbar-sidenav-tooltip.show {
    display: none; }
  
  @media (min-width: 992px) {
    body.sidenav-toggled .content-wrapper {
      margin-left: 55px; } }
  
  body.sidenav-toggled .navbar-sidenav {
    overflow-x: hidden;
    width: 55px; }
    body.sidenav-toggled .navbar-sidenav .nav-link-text {
      display: none; 
      }
    body.sidenav-toggled .navbar-sidenav .nav-item,
    body.sidenav-toggled .navbar-sidenav .nav-link {
      width: 55px !important; }
      body.sidenav-toggled .navbar-sidenav .nav-item:after,
      body.sidenav-toggled .navbar-sidenav .nav-link:after {
        display: none; }
  
  body.sidenav-toggled .navbar-sidenav-tooltip.show {
    display: flex; }
  
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: #868e96; }
  
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: #868e96; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
      color: #adb5bd; }
  
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: #868e96; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
      color: #adb5bd; }
  
  #mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    color: #adb5bd; }
  
  @media (min-width: 992px) {
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
      background: #343a40; }
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
        color: white !important;
        background-color: #495057; }
        #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
          color: white; }
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
        background: #343a40; } }
  
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: rgba(0, 0, 0, 0.5); }
  
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: rgba(0, 0, 0, 0.5); }
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
      color: rgba(0, 0, 0, 0.7); }
  
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: rgba(0, 0, 0, 0.5); }
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
      color: rgba(0, 0, 0, 0.7); }
  
  #mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    color: rgba(0, 0, 0, 0.5); }
  
  @media (min-width: 992px) {
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
      background: #f8f9fa; }
      #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
        color: #000 !important;
        background-color: #e9ecef; }
        #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
          color: #000; }
      #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
      #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
        background: #f8f9fa; } }
       .btn-add {
         color: #000;
       }
  .card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  
  @media (min-width: 576px) {
    .card-columns {
      column-count: 1; } }
  
  @media (min-width: 768px) {
    .card-columns {
      column-count: 2; } }
  
  @media (min-width: 1200px) {
    .card-columns {
      column-count: 2; } }
  
  .card-login {
    max-width: 25rem; }
  
  .card-register {
    max-width: 40rem; }
  
  footer.sticky-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #e9ecef;
    line-height: 55px; }
    @media (min-width: 992px) {
      footer.sticky-footer {
        width: calc(100% - 250px); } }
  
  @media (min-width: 992px) {
    body.sidenav-toggled footer.sticky-footer {
      width: calc(100% - 55px); } }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services .icon-box {
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #ffc451;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  
  .services .icon-box .icon i {
    color: #151515;
    font-size: 28px;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #151515;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box h4 a:hover {
    color: #ffc451;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
  }
  
  .container-100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
  }
  
  .wrapb {
    width: 680px;
    background: #fff;
    border-radius: 10px;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .wrap {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
  @media (max-width: 576px) {
    .wrap {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  #template .icon-box {
    padding: 30px 20px;
    transition: ease-in-out 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
  }
  #template img{
    background: #ffc451;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    
  }
  
  #template .icon-box i {
    font-size: 32px;
    line-height: 1;
    color: #ffc451;
  }
  
  #template .icon-box h6 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    line-height: 26px;
  }
  
  #template .icon-box h6 a {
    color: #000;
    transition: ease-in-out 0.3s;
  }
  
  #template .icon-box h6 a:hover {
    color: #ffc451;
  }
  
  #template .icon-box:hover {
    border-color: #ffc451;
  }
  /*--------------------------------------------------------------
  # temp
  --------------------------------------------------------------*/
  .temp .temp-item {
    margin-bottom: 30px;
  }
  
  .temp #temp-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
  }
  
  .temp #temp-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
  }
  
  .temp #temp-flters li:hover, .temp #temp-flters li.filter-active {
    color: #151515;
    background: #ffc451;
  }
  
  .temp #temp-flters li:last-child {
    margin-right: 0;
  }
  
  .temp .temp-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(21, 21, 21, 0.6);
  }
  
  .temp .temp-wrap::before {
    content: "";
    background: rgba(21, 21, 21, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  
  .temp .temp-wrap img {
    transition: all ease-in-out 0.3s;
  }
  
  .temp .temp-wrap .temp-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
  }
  
  .temp .temp-wrap .temp-info h4 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .temp .temp-wrap .temp-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
  }
  
  .temp .temp-wrap .temp-links {
    text-align: center;
    z-index: 4;
  }
  
  .temp .temp-wrap .temp-links a {
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 125px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .temp .temp-wrap .temp-links a:hover {
    font-size: 125px;
    color: #ffc451;
  }
  
  .temp .temp-wrap:hover::before {
    opacity: 1;
  }
  
  .temp .temp-wrap:hover img {
    transform: scale(1.2);
  }
  
  .temp .temp-wrap:hover .temp-info {
    opacity: 1;
  }
  .temp h3{
    font-size: 18px;
    text-align: center;
  }
  .temp .btn {
   margin-left: 70px;
    background: #ffc451;
    border: 0;
    padding: 10px 24px;
    color: #151515;
    transition: 0.4s;
    border-radius: 4px;
  }
  .temp .btn:hover {
    background: #000;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
    # temp Details
    --------------------------------------------------------------*/
    .temp-details {
      padding-top: 40px;
    }
    
    .temp-details .temp-details-container {
      position: relative;
    }
    
    .temp-details .temp-details-carousel {
      position: relative;
      z-index: 1;
    }
    
    .temp-details .temp-details-carousel .owl-nav, .temp-details .temp-details-carousel .owl-dots {
      margin-top: 5px;
      text-align: left;
    }
    
    .temp-details .temp-details-carousel .owl-dot {
      display: inline-block;
      margin: 0 10px 0 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ddd !important;
    }
    
    .temp-details .temp-details-carousel .owl-dot.active {
      background-color: #04c2c9 !important;
    }
    
    .temp-details .temp-info {
      padding: 30px;
      position: absolute;
      right: 0;
      bottom: -70px;
      background: #fff;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      z-index: 2;
    }
    
    .temp-details .temp-info h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }
    
    .temp-details .temp-info ul {
      list-style: none;
      padding: 0;
      font-size: 15px;
    }
    
    .temp-details .temp-info ul li + li {
      margin-top: 10px;
    }
    
    .temp-details .temp-description {
      padding-top: 50px;
    }
    
    .temp-details .temp-description h2 {
      width: 50%;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    
    .temp-details .temp-description p {
      padding: 0 0 0 0;
    }
    
    @media (max-width: 992px) {
      .temp-details .temp-description h2 {
        width: 100%;
      }
      .temp-details .temp-info {
        position: static;
        margin-top: 30px;
      }
    }
   
    #mainNav{
   
      background-color: #221C69;
    }
    .navbar-sidenav{
      background-color: #221C69;
    }
  
    /**cards*/
    .card-blue {
      background-color: #221C69;
    }
    .card-yellow {
      background-color: #ffbb38;
      color: #000;
    }
  .nav-item{
   margin: 10px 0px 10px 0px;
  
  }
  
  .navbar-brand .img{
    border: 1px solid #fff;
    border-radius: 15px;
  }
  .navbar-toggler-icon{
    background-color: #fff;
  }
  
  .mainNavLink{
    border-bottom: solid 1px #fff;
    color: #fff;
  }
  
  /*tables*/
  
  .view {
    position: relative;
    overflow: hidden;
    cursor: default;
    margin-top: 25px;
    margin-bottom: -25%;
  }
  .blue-gradient {
    background: linear-gradient(40deg,#564bca, #221C69) !important;
  }
  .pb-2, .py-2 {
    padding-bottom: .5rem !important;
  }
  .pt-2, .py-2 {
    padding-top: .5rem !important;
  }
  .ml-4, .mx-4 {
    margin-left: 1.5rem !important;
  }
  .mr-4, .mx-4 {
    margin-right: 1.5rem !important;
  }
  .mb-3, .my-3 {
    margin-bottom: 1rem !important;
  }
  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .btn[class*="btn-outline-"].btn-sm {
    padding-top: .38rem;
    padding-bottom: .38rem;
  }
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  .btn[class*="btn-outline-"] {
    padding-top: .7rem;
    padding-bottom: .7rem;
  }
  .btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem;
  }
  button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
  }
  button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .btn-rounded {
    border-radius: 10em;
  }
  .btn-outline-white {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
  }
  .btn {
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;
  }
  .card .btn-add{
    background-color: #ffbb38;
    color: #000;
    float: right;
    text-transform: capitalize;
  }
  .waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .pl-2, .px-2 {
    padding-left: .5rem !important;
  }
  .pr-2, .px-2 {
    padding-right: .5rem !important;
  }
  .btn-sm, .btn-group-sm>.btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
  }
  button, select {
    text-transform: none;
  }
  button, input {
    overflow: visible;
  }
  input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  button {
    border-radius: 0;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
  }
  .pl-4, .px-4 {
    padding-left: 1.5rem !important;
  }
  .pr-4, .px-4 {
    padding-right: 1.5rem !important;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  .mb-0, .my-0 {
    margin-bottom: 0 !important;
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  table {
    border-collapse: collapse;
  }
  .search-btn{
   
    background: #ffbb38;
    color: #343a40;
  
  }
  
  
  table {
    
    border-spacing: 2px;
    border-color: grey;
  }
  table.table thead th {
    border-top: 0;
  }
  table.table th, table.table td {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
  }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  table .th-lg {
    min-width: 9rem;
  }
  .table th, .table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  table th {
    font-size: .9rem;
    font-weight: 400;
  }
  th {
    text-align: inherit;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
  }
  table.table a {
    margin: 0;
    color: #212529;
  }
  table a:not([href]) {
    color: inherit;
    text-decoration: none;
  }
  table a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  table a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
  
    opacity: 1;
  }
  
  
  input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }
  .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
  }
  
  .btn-action .btn-primary{
    background-color:#007bff ;
    color: #fff;
  }
  .btn-action .btn-success{
    background-color:#63c76a ;
    color: #fff;
  }
  .btn-action .btn-danger{
    background-color: #fa4251 ;
    color: #fff;
  }
  .table-wrapper{
    overflow-x: scroll;
  }
  .info img{
  align-content: center;
  }
  .navbar{
    height:60px ;
  }
  /*preview*/
  .preview .img{
  vertical-align: middle;
  margin-bottom: 20px;
  align-self: center;
  }
  .preview .btn-preview{
  margin-top: 50px;
  background-color: #221C69;
  color: #fff;
  align-self: center;
  }
  .preview{
    align-self: center;
  }
  .input-group input {
    margin-top: 6px;
  }