<app-navigation></app-navigation>
 <div class="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Home Rental Templates</li>
    </ol>
    <h3 class="text-center">Choose A Template</h3>
      <!-- ======= temp Section ======= -->
  <section id="temp" class="temp">
      <div class="container" data-aos="fade-up">


    

        <div class="row temp-container" data-aos="fade-up" data-aos-delay="200">

         

          <div class="col-lg-4 col-md-12 temp-item filter-card">
            <h3 >Basic rental agreement</h3>
            <div class="temp-wrap">
              <img src="../../../../assets/img/hrt.jpg" class="img-fluid" alt="">
              <div class="temp-info">
                <div class="temp-links">
                  <a href="preview.html" title="preview"><i class="bx bx-search"></i></a>
                </div>
                <h4 class="text-center">Preview</h4>
              </div>
            </div>
           <a routerLink="['forms', forms.id]" class="btn text-center">Use Template</a>
          </div>

    


          <div class="col-lg-4 col-md-12 temp-item ">
            <h3>Commercial Lease Agreements</h3>
            <div class="temp-wrap">
              <img src="../../../../assets/img/cl.png" class="img-fluid" alt="" width="400px" height="200px">
              <div class="temp-info">
                <div class="temp-links">
                  <a href="preview.html" title="preview"><i class="bx bx-search"></i></a>
                </div>
                <h4>Preview</h4>
              </div>
            </div>
            <a href="form.html" class="btn text-center">Use Template</a>
          </div>

          <div class="col-lg-4 col-md-6 temp-item ">
            <h3>simple one page rental agreement</h3>
            <div class="temp-wrap">
              <img src="../../../../assets/img/sp.png" class="img-fluid" alt="">
              <div class="temp-info">
                <div class="temp-links">
                  <a href="preview.html" title="preview"><i class="bx bx-search"></i></a>
                </div>
                <h4>Preview</h4>
              </div>
            </div>
            <a href="form.html" class="btn text-center">Use Template</a>
          </div>

         
          <div class="col-lg-4 col-md-12 temp-item filter-card">
            <h3>Month to month rental agreement</h3>
            <div class="temp-wrap">
              <img src="../../../../assets/img/mm.png" class="img-fluid" alt="">
              <div class="temp-info">
                <div class="temp-links">
                  <a href="preview.html" title="preview"><i class="bx bx-search"></i></a>
                </div>
                <h4>Preview</h4>
              </div>
            </div>
            <a href="form.html" class="btn text-center">Use Template</a>
          </div> 

          
          <div class="col-lg-4 col-md-6 temp-item ">
            <h3>Basic rental agreement</h3>
            <div class="temp-wrap">
              <img src="../../../../assets/img/hrt.jpg" class="img-fluid" alt="">
              <div class="temp-info">
                <div class="temp-links">
                  <a href="preview.html" title="preview"><i class="bx bx-search"></i></a>
                </div>
                <h4>Preview</h4>
              </div>
            </div>
            <a href="form.html" class="btn text-center">Use Template</a>
          </div>

         
          <div class="col-lg-4 col-md-12 temp-item filter-card">
            <h3>Basic rental agreement</h3>
            <div class="temp-wrap">
              <img src="../../../../assets/img/hrt.jpg" class="img-fluid" alt="">
              <div class="temp-info">
                <div class="temp-links">
                  <a href="preview.html" title="preview"><i class="bx bx-search"></i></a>
                </div>
                <h4>Preview</h4>
              </div>
            </div>
            <a href="form.html" class="btn text-center">Use Template</a>
          </div> 
        </div>

      </div>
    </section><!-- End temp Section -->   

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>