 <!-- ======= signup Section ======= -->
 <section id="contact" class="contact container-100 " style="background: rgba(34, 28, 105, 0.603);">
  <div class="container wrap mx-auto" data-aos="fade-up">
      <div class="section-title">
          <p class="text-center"><a href="index.html"><img src="assets/img/create.png" alt="" srcset="" width="70px"></a></p>
        </div>
        <h3 class="text-center" style="font-size: 24px;">SIGNUP</h3>
        

  
      
  
      <div class="row ">
        <div class="col-lg-6 mx-auto">
  
          <form [formGroup]="signupForm" (ngSubmit)="signupForm.valid && onSignupSubmit()" class="php-email-form" novalidate>
         
            <div class="form-group">
              <input type="text" class="form-control" name="firstName" id="firstName" formControlName="firstName" [(ngModel)]="user.firstName" placeholder="First Name" data-rule="email" data-msg="Please enter a valid email" />
            
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName" [(ngModel)]="user.lastName" placeholder="Last Name" data-rule="email" data-msg="Please enter a valid email" />
            
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" formControlName="email" placeholder="Your Email" [(ngModel)]="user.email" data-rule="email" data-msg="Please enter a valid email" />
            
              </div>
        
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="password" formControlName="password" [(ngModel)]="user.password" placeholder="Password" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
             
            </div>
         
         <div class="text-center"><button type="submit">Signup</button></div>
          </form>  <div class="options ">
            <p class="">Already have an account?<a routerLink="/Login">Login</a></p>
          </div>
        </div>
  
      </div>
      <div class="social-login">
        <p class="text-center">Signup using</p>
        <div class="row">
         
          <div class="mx-auto row">
            <div class="col-md-6 mx-auto">
              <a href="#" class="btn-face ">
                <i class="bx bxl-facebook"></i>
                Facebook
              </a>
            </div>
      <div class="col-lg-6">
        <a href="#" class="btn-google text-center ">
          <img src="assets/img/icon-google.png" alt="GOOGLE">
          Google
        </a>
      </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section><!-- End signup Section -->