 <!-- ======= signup Section ======= -->
 <section id="contact" class="contact container-100 " style="background: rgba(34, 28, 105, 0.603);">
  <div class="container wrap mx-auto" data-aos="fade-up">
      <div class="section-title">
          <p class="text-center"><a href="index.html"><img src="assets/img/create.png" alt="" srcset="" width="70px"></a></p>
        </div>
        <h3 class="text-center" style="font-size: 24px;">SIGNUP</h3>
  
      <div class="row ">
        <div class="col-lg-6 mx-auto">
  
          <form [formGroup]="signupForm" (ngSubmit)="signupForm.valid && onSignupSubmit()" class="php-email-form" novalidate>
         
            <div class="form-group">
              <input type="text" [class.is-invalid]="firstName.invalid && firstName.touched" class="form-control" name="firstName" id="firstName" formControlName="firstName" placeholder="First Name" data-rule="email" data-msg="Please enter a valid email" />
              <div *ngIf="firstName.invalid && firstName.touched">
                <small class="text-danger" *ngIf="firstName.errors?.required">First Name is required</small>
                <small class="text-danger" *ngIf="firstName.errors?.minlength">First Name must be at least 3 characters</small>
              </div>
            </div>
            <div class="form-group">
              <input type="text" [class.is-invalid]="lastName.invalid && lastName.touched"  class="form-control" name="lastName" id="lastName" formControlName="lastName"  placeholder="Last Name" data-rule="email" data-msg="Please enter a valid email" />
              <div *ngIf="lastName.invalid && lastName.touched">
                <small class="text-danger" *ngIf="lastName.errors?.required">Last Name is required</small>
                <small class="text-danger" *ngIf="lastName.errors?.minlength">Last Name must be at least 3 characters</small>
              </div>
            </div>
            <div class="form-group">
                <input type="email"  [class.is-invalid]="email.invalid && email.touched"  class="form-control" name="email" id="email" formControlName="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div *ngIf="email.invalid && email.touched">
                  <small class="text-danger" *ngIf="email.errors?.required">email is required</small>
                  <small class="text-danger" *ngIf="email.errors?.email">Please enter a valid email address</small>
                </div>
              </div>
        
            <div class="form-group">
              <input type="password" [class.is-invalid]="password.invalid && password.touched"  class="form-control" name="password" id="password" formControlName="password"  placeholder="Password" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div *ngIf="password.invalid && password.touched">
                <small class="text-danger" *ngIf="password.errors?.required">Password is required</small>
                <small class="text-danger" *ngIf="password.errors?.minlength">Password must be at least 6 characters</small>
                <small class="text-danger" *ngIf="password.errors?.maxlength">Password can not exceed 15 characters</small>
              </div>
            </div>
         
         <div class="text-center"><button type="submit">Signup</button></div>
          </form>  <div class="options ">
            <p class="">Already have an account?<a routerLink="/Login">Login</a></p>
          </div>
        </div>
  
      </div>
      <div class="social-login">
        <p class="text-center">Signup using</p>
        <div class="row">
         
          <div class="mx-auto row">
            <div class="col-md-6 mx-auto">
              <a href="#" class="btn-face ">
                <i class="bx bxl-facebook"></i>
                Facebook
              </a>
            </div>
      <div class="col-lg-6">
        <a href="#" class="btn-google text-center ">
          <img src="assets/img/icon-google.png" alt="GOOGLE">
          Google
        </a>
      </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section><!-- End signup Section -->