<app-navigation></app-navigation>
  <div class="content-wrapper">
    <div class="container-fluid">
    
  <!-- Table with panel -->
<div class="card card-cascade narrower">

  <!--Card image-->
  <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <a href="" class="white-text mx-3 text-center">All your contracts</a>

    <div>
      
       <a href="templates.html" class="btn btn-add px-2"><i class="fa fa-plus mt-0"></i>Add New</a> 

    </div>

  </div>
  <hr>
  <!--/Card image-->

  <div class="px-4">

    <div class="table-wrapper">
      <!--Table-->
      <table class="table table-hover mb-0">

        <!--Table head-->
        <thead>
          <tr>
          
            <th class="th-lg">
              <a>Title
              </a>
            </th>
            <th class="th-lg">
              <a href="">Buisness Partner
              </a>
            </th>
    
            <th class="th-lg">
              <a href="">Category
              </a>
            </th>
            <th class="th-lg">
              <a href="">Status
              </a>
            </th>
            <th class="th-lg">
              <i class="fa fa-gears"></i>
              <a href="">Actions
              </a>
            </th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr  *ngFor="let contract of data">
           
            <td>Rental</td>
            <td>{{contract.tFirstName}}</td>
            <td>{{contract.date | date}}</td>
            <td>Mark</td>
           
            <td> 
              <div class="btn-action">
                <a class="btn btn-primary" href="#" alt="Info"><i class="fa fa-info-circle"></i></a>
                <a class="btn btn-success" href="#"><i class="fa fa-pencil"></i></a>
               <a class="btn btn-danger" href="#"><i class="fa fa-trash"></i></a>
              </div>
            </td>
          </tr>
    
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>

  </div>

</div>
</div>
</div>