
    <!-- ======= service Section ======= -->
    <section id="service">
        <div class="container">
  
          <header class="section-header">
            <h3>Simple contract features</h3>
            <p>We provide you simple, customizable contract management system that can be implemented in minutes, allowing you to gain control quickly.</p>
          </header>
  
          <div class="row service-cols">
  
            <div class="col-md-4" data-aos="fade-up">
              <div class="service-col">
                <div class="img">
                  <img src="assets/img/create.png" alt="" class="img-fluid">
                </div>
                <h2 class="title">  Create</h2>
                <p>
                  Choose from multiple templates and create your own contracts.
                </p>
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="service-col">
                <div class="img">
                  <img src="assets/img/edit1.PNG" alt="" class="img-fluid">
                </div>
                <h2 class="title">Edit</h2>
                <p>
                  You Can Customize and Edit Your Contracts Easily.
                </p>
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="150">
              <div class="service-col">
                <div class="img">
                  <img src="assets/img/update.png" alt="" class="img-fluid">
                </div>
                <h2 class="title">Update</h2>
                <p>
                Make updates to your contracts as nedded.
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #service --><!-- End service Section -->
