<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Why us</h3>
        </header>
        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-1" data-aos="fade-left" data-aos-delay="100">
            <img src="{{about.image}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-2  content" data-aos="fade-right" data-aos-delay="100">
            <h3>{{about.heading}}</h3>
            <p class="font-italic">
              {{about.description}}
            </p>
            <div  *ngFor="let feature of about.features">
              <ul>
                <li><i class="{{feature.icon}}"></i>{{feature.description}}</li>
              </ul>
            </div>
            <div class="text-center"><button type="submit">Get Started</button></div>
    
          </div>
        </div>
  
      </div>
    </section><!-- End About Section -->