<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
  
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{about.image}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>{{about.heading}}</h3>
            <p class="font-italic">
              {{about.description}}
            </p>
            <div  *ngFor="let feature of about.features">
              <ul>
                <li><i class="{{feature.icon}}"></i>{{feature.description}}</li>
              </ul>
            </div>
       
            <p>
             {{about.subdescription}}
            </p>
          </div>
        </div>
  
      </div>
    </section><!-- End About Section -->