
<div id="content">
    <!-- ======= Form Section ======= -->
    <section id="contact" class="contact container-100 " style="background: rgba(34, 28, 105, 0.603);">
      <div class="container wrapb mx-auto" data-aos="fade-up">
        <div class="section-title">
       
          <p class="text-center"><a href="index.html"  style= "margin-left: -30px;" ><img src="../../../../assets/img/bra.png" alt="" srcset="" width="100%" ></a></p>
        </div>
       

        <form *ngIf="contracts">
        <div class="row ">
         
          <div class=" col-md-12">
            <div class="main-header row">
              <div class="col-md-6">
                <h4>Land Lord Information</h4>
              </div>
              <div class="col-md-6">
                <h4> Tenant Information</h4>
          
              </div>
            </div>
         
          </div>
          
         
          <!-- ======= Land Lord Information ======= -->
          <div class="col-md-6">
           
              <div class="row">

              </div>
              <div class="row">
                <div class="form-group col">
                  <label for="">Name</label>
                   <p>{{contracts.lFirstName}} {{contracts.lLastName}}</p>
                </div>
              </div>

              <div class="form-group">
                <label for="">Address</label>
               <p>{{contracts.address}}</p>
              </div>
              <div class="form-group">
                <label for="">Phone</label>
               <p>{{contracts.lPhone}}</p>
              </div>
              <div class="form-group">
                <label for="">Email</label>
                <p>{{contracts.lemail}}</p>
              </div>
            
          </div>
          <!-- ======= Tenat Information ======= -->
          <div class="col-md-6">
            

              <div class="row">
                <div class="form-group col">
                  <label for="">Name</label>
                 <p>{{contracts.tFirstName}} {{contracts.tLastName}}</p>
                </div>
              </div>
              <div class="form-group">
                <label for="">Phone</label>
               <p>{{contracts.tPhone}}</p>
              </div>
              <div class="form-group">
                <label for="">Email</label>
                <p>{{contracts.temail}}</p>
              </div>
             
              <div class="form-group">
                <label for="">Number Of Occupants</label>
                <p>{{contracts.occupants}}</p>
              </div>
          
          </div>
          <!-- =======Rental Information ======= -->
          <div class=" col-md-12">
            <div class="main-header row">
              <div class="col-md-6">
                <h4>Rental Information</h4>
                <hr>
              </div>
            </div>
         
          </div>
         

          <div class="col-md-6">
           
              <div class="form-group">
                <label for="">House Rental Address</label>
              
          
                <div class="address">
                  <p>{{contracts.postal}}</p>
                  <p>{{contracts.city}}</p><p>{{contracts.state}}</p>
                  <p>{{contracts.country}}</p>
                </div></div>
                <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>Start Date of Agreement</label>
                    <p>{{contracts.startDate | date: medium}}</p>
                  </div>
                  <div class="form-group">
                    <label>End Date of Agreement
                    </label>
                   <p>{{contracts.endDate | date: medium}}</p>
                  </div>
                  <div class="form-group">
                    <label for="">Pay Period</label>
                     <p>{{contracts.payPeriod}}</p>
                  </div>
                </div>
              </div>
          </div>


          <div class="col-md-6">
           
              <div class="row">

              </div>
              <div class="form-group">
                <label for="">Rent Amount</label>
               <p>${{contracts.rentAmount}}</p>
              </div>
              <div class="form-group">
                <label for="">Security Deposit</label>
                <p>${{contracts.securityDeposit}}</p>
              </div>
              <div class="form-group">
                <label for="">Late Charges</label>
                <p>${{contracts.lateCharge}}</p>
              </div>
              <div class="form-group">
                <label for="">Payment Method</label>
               <p>{{contracts.paymentMethod}}</p>
              </div>
              <div class="form-group">
                <label for="">Collector</label>
               <p>{{contracts.collector}}</p>
              </div>
          </div>
          <div class=" col-md-12">
            <div class="main-header row">
              <div class="col-md-6">
                <h4>TERMS AND CONDITIONS</h4>
              </div>
            </div>
         
          </div>
         
          <div class="col-md-12">
          <p>{{contracts.terms}}</p>
            <div class="signiture">
              <div class="form-group">
                <label for="">Landlord Signature</label>
                <img src="" alt="">
              </div>
              <div class="form-group">
                <label for="">Tenant Signature</label>
               <img src="" alt="">
              </div>
            </div>

          </div>
          
         
        </div>
      
        <div class="opt">
          <button class="btn" type="submit">Submit</button>
          <button class="btn"><i class="fa fa-print"></i> Print</button>
        </div>
      </form>
      </div>
    </section>
  </div>