<nav class="nav-menu d-none d-lg-block">
    <ul>
      <li (click)="getActiveTab('home')" [class.active]="activetab === 'home'"><a routerLink="/Home">Home</a></li>
      <li (click)="getActiveTab('services')" [class.active]="activetab === 'services'"><a href="#service">Features</a></li>
      <li (click)="getActiveTab('about')" [class.active]="activetab === 'about'"><a href="#about">Why us</a></li>
      <li (click)="getActiveTab('login')" [class.active]="activetab === 'login'"><a routerLink="/Login">Login</a></li>
      <li (click)="getActiveTab('signup')" [class.active]="activetab === 'signup'"><a routerLink="/Signup">Signup</a></li>
    
      <li (click)="getActiveTab('contact')" [class.active]="activetab === 'contact'"><a routerLink="/Contact">Contact</a></li>
  
    </ul>
  </nav><!-- .nav-menu -->
